<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="cs1" connectionString="ConnectionString1"/>
		<add name="cs2" connectionString="ConnectionString2"/>
		<add name="cs3" connectionString="ConnectionString3"/>
		<add name="cs4" connectionString="ConnectionString4"/>
		<add name="cs5" connectionString="ConnectionString5"/>
	</connectionStrings>
	<appSettings>
		<add key="Demo1" value="demo1"/>
		<add key="Demo2" value="demo2"/>
		<add key="Demo3" value="demo3"/>
		<add key="Demo4" value="demo4"/>
		<add key="Demo5" value="demo5"/>
		<add key="RabbitMQ:Host" value="localhost"/>
		<add key="RabbitMQ:Port" value="5672"/>
		<add key="RabbitMQ:UserName" value="admin"/>
		<add key="RabbitMQ:Password" value="123456"/>		
	</appSettings>
</configuration>